body {

    background-image: url('./../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;   
    width: 100vh;
    overflow: hidden;

}

.pant-juego {

    position: absolute;
    top: 15%;
    left: 25%;
    height: 90%;

}


.contenedor-padre {
    
    display: flex;
    justify-content: center;
    
}


.carta1, .carta2 {

    max-height: 300px;
    max-width: 500px;
    margin: 20px;
    
}

.carta1 p, .carta2 p {
    position: absolute;
    top: -50px;
    max-height: 300px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    background-color: white;
    max-width: 300px;
    text-align: center;

}

.atacar, .defender {
    margin-top: 20px;
    max-height: 150px;
    height: 100%;
}


#accion {
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button img:hover {
    filter: brightness(1.2) contrast(1.5);
}

.contenedor-botones {
    height: 300px;
    display: flex;
    justify-content: center;
    
}

.reiniciar {
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
}

.puntuacion {
    
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    padding: 10px 20px; 
    
}

.puntuacion img {
    max-height: 250px;

}

.ronda {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    bottom: 125px; 
    left: 102px; 
    padding: 10px 20px; 
}

.puntos-jugador {
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: absolute;
    bottom: 17px; 
    left: 75px; 
    padding: 10px 20px; 
    
}

.puntos-maquina {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: absolute;
    bottom: 17px; 
    left: 135px; 
    padding: 10px 20px; 

}

.resultado {


    position: absolute;
    top: 15%;
    left: 35%;
    height: 20%;
    padding: 50px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size: 50px;
    border-radius: 3px solid black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    opacity: 0.85;

}

.cartas-restantes {
    margin: 20px;
    padding: 20px;
    width: 40%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.btn-anyadir-personaje {

    background-color: rgb(201, 0, 0);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    border: solid black 1px;
    color: rgb(196, 196, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;

}

.btn-anyadir-personaje:hover {
    filter: brightness(1.2) contrast(1.5);
    
}

.contenedor-grande {
    display: flex;
    justify-content: center;

}

.formulario {
    text-align: center;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    
}
